* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    width: 50vw;
    margin: 0 auto;
}

h1 {
    align-items: center;
}

details > summary {
    list-style: none;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.accordeon {
}

