* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    overflow-y: scroll;
    height: 100vw;
}

body {
    font-family: sans-serif;
    font-size: 100%;    
    background-color: bisque;
    padding-top: 50px;    
}

h1 {
font-size: 2.5rem;
}

.div-title {
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid grey; 
}

.accordeon {
    width: 50%;
    margin: 20px auto;
    cursor: pointer;
    
}


.accordeon-title h3 {
    color: blue;
}

.accordeon-input:checked + .accordeon-title h3 {
    color: black;
}


.accordeon:hover .accordeon-item h3 {
    color:black;
}

.accordeon-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;  
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;   
}

.accordeon-title:hover .icon {
    transform: rotate(-45deg);
}

.accordeon .accordeon-item .accordeon-title .icon {
    opacity: 0;
        
}

.accordeon:hover .accordeon-item .accordeon-title .icon {
    opacity: 1;
}

.accordeon-item {
    max-width: 100%;
    margin-bottom: 1rem; 
    border-bottom: 1px solid grey;   
}

.accordeon-image {
    height: 0;
    display: block;
    overflow: hidden;
    cursor: pointer;   
}


.accordeon-image img {
    width: 50%;
    display: block;
    margin: 1rem auto;
    padding-bottom: 1rem;
      
}

.accordeon-input {
    opacity: 0;
}


.accordeon-input:checked + .accordeon-title + .accordeon-image {
    height: 100%;        
}

.accordeon-item:hover .accordeon-title + .accordeon-image {
    height: 100%;    
    
}













